.projects-area {
  max-width: 700px;
  width: calc(100% - 70px);
  height: max-content;
  min-height: 600px;
  background-color: var(--white);
  margin: -100px auto 0 auto;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  color: var(--purple);
  font-weight: bold;
  font-size: 1.3em;
}